@font-face {
    font-family: 'history of wawa';
    src: url('font/History of Wawa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto; 
    grid-template-columns: 1fr; 
    min-height: 100vh; 
    margin: 0;
    font-family: 'history of wawa', sans-serif;
    background-color: black;
    background-repeat: repeat; 
    background-size: 162px; 
    background-position: top left; 
    animation: gradientShift 200s linear infinite; 
    color: rgba(255,255,255,0.3); 
}

.navbar{
    display: flex;
    justify-content: center;
}
.navbar-iconos{
    align-items: center;
    background-color: black;
    border: 2px solid rgba(255,255,255,0.2);
    color: rgba(255,255,255,0.5);
    padding: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    text-align: center;
    width: 200px;
    height: 19px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); 
}
main{
    background-color: transparent;
    padding: 1rem;
    
}
footer{
    border-top: 3px solid rgba(255,255,255,0.2);
    border-bottom: 3px solid rgba(255,255,255,0.2);
    background-color: black;
    color: rgba(255,255,255,0.5);
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.4);
}



.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo > img{
    height: 175px;
    width: 175px;
    margin-bottom: 20px;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 50%;
}


.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo > h2{
    color: rgba(255,255,255,0.2);
}


.imagenes{
    display: grid;
    margin-top: 4rem;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    justify-items: center;
    box-sizing: border-box;
}
.item{
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 3px solid rgba(255,255,255,0.2);;
    background-color: black;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 20px;
}
.item > img{
    width: 100%;
    width: 200px;
    max-width: 250px;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.2s;
}
.item > img:hover{
    transition: ease-in-out 0.2s;
    box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
}
.item > p{
    display: block;
    background-color: rgba(255,255,255,0.03);;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-top: 10px; 
}


.container_f{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    /*border: 1px solid black;*/
}
.item_f{
    padding: 1rem;
    /*border: 1px solid orange;*/
    justify-content: center;
    align-items: center;
}
.item_f > p{
    font-size: 12px;
}


.redes{
    display: flex;
    flex-direction: row;
    margin-top: -1px;
    
    border-top: 2px solid rgba(255,255,255,0.2);;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}
a{
    transition: ease-in-out 0.2s;
    text-decoration: none;
    color: inherit;
    padding: 5px;
    font-size: 14px;
    height: 20px;
    width: 35px;
    text-align: center;
    background-color: black;
    border: 3px solid rgba(255,255,255,0.2);;
    border-radius: 100%;
    margin-left: 10px;
}
a:hover{
    transition: ease-in-out 0.2s;
    scale: 120%;
    background-color: rgba(255,255,255,0.2);;
    border: 3px solid black;
    transform: translateY(-2px);
    color: black;
}
li{
    font-size: 12px;
    margin-right: 26px;
    margin-bottom: 5px;
}
ul{
    list-style: none;
}


#popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
}
#popup > img{
    max-width: 80%;
    max-height: 80%;
}
#popup .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.centrador{
    display: flex;
    align-items: center;
    flex-direction: column;
}
button{
    display: block;
    background-color: black;
    border: 3px solid rgba(255,255,255,0.2);;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    width: 130px;
    color: rgba(255,255,255,0.5);
    transition: ease-in-out 0.2s;
}
button:hover{
    transition: ease-in-out 0.2s;
    background-color: rgba(255,255,255,0.2);;
    border: 3px solid black;
    scale: 105%;
    color: black;
}


@media (max-width: 700px) {
    .imagenes {
        grid-template-columns: 1fr;
        gap: 1rem;
        border: 1px solid black;
        box-sizing: border-box;
    }
    .container_f{
    display: grid;
    margin-top: 4rem;
    grid-template-columns: 1fr;
    gap: 1rem;
    border: 1px solid black;
    }
}




